<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.map.domain.joinVO" alias="joinVO"/>
		<typeAlias type="com.map.domain.BoardDto" alias="BoardDto"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="/sqls/memberMapper.xml"/>
		<mapper resource="/sqls/boardMapper.xml"/>
	</mappers>
</configuration>